#title {
    text-align: center;
    color: #000066;
    border: 5px solid red;
}

#egg {
    width: 600px;
    height: 400px;
}

body {
    background-image: url("bg.jpg");
}

.instructions {
    color: red;
}
.container {
    width: 960px;
    margin: 0 auto;
}

nav li{
    display: inline;
}
nav {
    text-align:center;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
nav li a:hover {
    color:red;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.active {
    font-weight: bold;
}